#disconnected
{
  margin-left: 50%;
  transform: translateX(-80px);
}

.header {
  background: #00B7EB;
  position: static;
}

.header::before {
  content: "";
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  transform: rotate(3deg);
  transform-origin:top;
}