body {
  overflow-x: hidden;
}

.web3-controls {
  position: absolute;
  top: -20px;
  right: 20px;
}

#disconnected {
  white-space: nowrap;
  position: relative;

  top: 0;
  right: 140px;
}

#connected {
  position: relative;
  top: -47px;
  right: -50px;
}

.cyan {
  background: #00B7EB;
  color: white;
}

.btn-primary {
  background-color: #00B7EB !important;
  border: none;
}

.shadowed
{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#queued-transactions h1
{
  font-size: 5rem;
}

tr.complete
{
  background-color: #ddffdd;
}