#disconnected {
  margin-left: 50%;
  transform: translateX(-80px);
}

.cyan {
  background: #00B7EB;
  color: white;
}

.btn-primary {
  background-color: #00B7EB !important;
  border: none;
}

.table {
  color: #fff !important;
}